mot[TTcat="PRO:REL"][genre="f"][nombre="p"] {background-color:fuchsia;}
mot[TTcat="PRO:DEM"][genre="f"][nombre="p"] {background-color:fuchsia;}
mot[TTcat="PRO"][genre="f"][nombre="p"] {background-color:fuchsia;}
mot[TTcat="PRO:IND"][genre="f"][nombre="p"] {background-color:fuchsia;}
mot[TTcat="PRO:PER"][genre="f"][nombre="p"] {background-color:fuchsia;}
mot[TTcat="PRO:POS"][genre="f"][nombre="p"] {background-color:fuchsia;}