mot[TTcat="PRO:REL"][genre="m"][nombre="s"] {background-color:DarkTurquoise;}
mot[TTcat="PRO:DEM"][genre="m"][nombre="s"] {background-color:DarkTurquoise;}
mot[TTcat="PRO"][genre="m"][nombre="s"] {background-color:DarkTurquoise;}
mot[TTcat="PRO:IND"][genre="m"][nombre="s"] {background-color:DarkTurquoise;}
mot[TTcat="PRO:PER"][genre="m"][nombre="s"] {background-color:DarkTurquoise;}
mot[TTcat="PRO:POS"][genre="m"][nombre="s"] {background-color:DarkTurquoise;}