mot[TTcat="PRO:REL"][genre="m"][nombre="p"] {background-color:DarkOrange;}
mot[TTcat="PRO:DEM"][genre="m"][nombre="p"] {background-color:DarkOrange;}
mot[TTcat="PRO"][genre="m"][nombre="p"] {background-color:DarkOrange;}
mot[TTcat="PRO:IND"][genre="m"][nombre="p"] {background-color:DarkOrange;}
mot[TTcat="PRO:PER"][genre="m"][nombre="p"] {background-color:DarkOrange;}
mot[TTcat="PRO:POS"][genre="m"][nombre="p"] {background-color:DarkOrange;}