mot[TTcat="PRO:REL"][genre="f"][nombre="s"] {background-color:Chocolate;}
mot[TTcat="PRO:DEM"][genre="f"][nombre="s"] {background-color:Chocolate;}
mot[TTcat="PRO"][genre="f"][nombre="s"] {background-color:Chocolate;}
mot[TTcat="PRO:IND"][genre="f"][nombre="s"] {background-color:Chocolate;}
mot[TTcat="PRO:PER"][genre="f"][nombre="s"] {background-color:Chocolate;}
mot[TTcat="PRO:POS"][genre="f"][nombre="s"] {background-color:Chocolate;}